{% extends "templates/web.html" %}
{% from "erpnext/templates/includes/macros.html" import recommended_item_row %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block page_content %}
{% from "erpnext/templates/includes/macros.html" import product_image %}
<div class="item-content">
	<div class="product-page-content">
		<div class="container">
			<div class="row mb-5">
				{% include "templates/generators/item/item_image.html" %}
				{% include "templates/generators/item/item_details.html" %}
			</div>
		</div>
		{% if override_page_builder %}
			<!-- Start of product template -->
			{% include "templates/generators/item/section_buttons.html" %}
			{% if doc.has_specification() %}
				{% include "templates/generators/item/item_specifications.html" %}
			{% endif %}
		{% elif doc.content_type == 'Page Builder' %}
			{{ page_builder_html }}
		{% else %}
			{{ doc.website_content or '' }}
		{% endif %}
	</div>
</div>

<div class="item-content {{ 'mt-minus-2' if (show_tabs and tabs) else '' }}">
	<div class="product-page-content">
		<!-- Product Specifications Table Section -->
		{% if show_tabs and tabs %}
			<div class="category-tabs">
				<!-- tabs -->
					{{ web_block("Section with Tabs", values=tabs, add_container=0,
						add_top_padding=0, add_bottom_padding=0)
					}}
			</div>
		{% endif %}

		<!-- Reviews and Comments -->
		{% if shopping_cart.cart_settings.enable_reviews and not doc.has_variants %}
			{% include "templates/generators/item/item_reviews.html"%}
		{% endif %}
	</div>

	<!-- Additional Info/Reviews, Recommendations -->
	<div class="d-flex">
		{% set show_recommended_items = recommended_items and shopping_cart.cart_settings.enable_recommendations %}
		{% set info_col = 'col-9' if show_recommended_items else 'col-12' %}
		{% set padding_top = 'pt-0' if (show_tabs and tabs) else '' %}

		<!-- Recommended Items -->
		{% if show_recommended_items %}
			<div class="mt-4 col-3 recommended-item-section">
				<span class="recommendation-header">Recommended</span>
				<div class="product-container mt-2 recommendation-container">
					{% for item in recommended_items %}
						{{ recommended_item_row(item) }}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</div>

{% if doc.faq_group %}
{% for i in doc.faq_group %}
{% set group = frappe.get_doc("FAQ Groups",i.faq_group_item)%}
{% for row in group.faq_questions %}
{% set faq = frappe.get_doc("FAQ",row.question)%}
<div class="collapsible-item">
    <a aria-controls="id-732e168a92ce-1" aria-expanded="false" class="collapsible-title" data-toggle="collapse" href="#id-732e168a92ce-{{row.idx}}" role="button">
        <div class="collapsible-item-title">{{faq.question}}</div>
        <svg class="collapsible-icon" height="24" viewBox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
            <path class="vertical" d="M8 4V12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
            <path class="horizontal" d="M4 8H12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"></path>
        </svg>
    </a>
    <div class="collapse collapsible-content from-markdown" id="id-732e168a92ce-{{row.idx}}">
        <div>
            <p>{{faq.answer}}</p>
            {% if faq.related_title  and faq.related_url %}
            <i><a href="{% if faq.related_url %}{{faq.related_url}}{% else %} # {% endif %}">{{faq.related_title}}</a></i>
            {%endif%}
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}
{% endif %}
{% endblock %}

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{{ include_script("frappe-web.bundle.js") }}
{{ include_script("controls.bundle.js") }}
{{ include_script("dialog.bundle.js") }}
{% endblock %}

{% block script %}
	{%- for web_template, scripts in (page_builder_scripts or {}).items() -%}
		{%- if scripts -%}
			{%- for script in scripts -%}
				<script data-web-template="{{ web_template }}">{{ script }}</script>
			{%- endfor -%}
		{%- endif -%}
	{%- endfor -%}
{% endblock %}