<section class="section section-padding-top section-padding-bottom">
    <div class="container">
        <div class="quick-link-btn-container">
            {% if doc.has_long_description() %}
                <a class="quick-link-btn" href="#LongDescription">
                    <h4>Description</h4>
                </a>
            {% endif %}
            {% if doc.has_specification() %}
                <a class="quick-link-btn" href="#Specifications">
                    <h4>Specifications</h4>
                </a>
            {% endif %}

            {% if "RequiredExtras" in related_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#RequiredExtras">
                    <h4>Required Extras</h4>
                </a>
            {% endif %}
            {% if "Consumables" in related_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#Consumables">
                    <h4>Consumables</h4>
                </a>
            {% endif %}
            {% if "OptionalAccessories" in related_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#OptionalAccessories">
                    <h4>Optional Accessories</h4>
                </a>
            {% endif %}
            {% if "Downloads" in related_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#Downloads">
                    <h4>Downloads</h4>
                </a>
            {% endif %}
            {% if "CompatiblePowerUnits" in compatible_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#CompatiblePowerUnits">
                    <h4>Compatible Power Units</h4>
                </a>
            {% endif %}
            {% if "CompatibleLinkage" in compatible_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#CompatibleLinkage">
                    <h4>Compatible Linkage</h4>
                </a>
            {% endif %}
            {% if "CompatibleAttachments" in compatible_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#CompatibleAttachments">
                    <h4>Compatible Attachments</h4>
                </a>
            {% endif %}
            {% if "CompatibleBrackets" in compatible_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#CompatibleBrackets">
                    <h4>Compatible Brackets</h4>
                </a>
            {% endif %}
            {% if "SeriesCollection" in related_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#SeriesCollection">
                    <h4>More from this Series</h4>
                </a>
            {% endif %}
            {% if "RelatedItems" in related_items_by_groups.keys() %}
                <a class="quick-link-btn" href="#RelatedItems">
                    <h4>Related Items</h4>
                </a>
            {% endif %}

        </div>
    </div>
</section>
