<section class="section section-padding-top section-padding-bottom">
    <div class="container">
        <div class="quick-link-btn-container">
            {% if doc.has_long_description() %}
                <a class="quick-link-btn" href="#LongDescription">
                    <h4>Description</h4>
                </a>
            {% endif %}
            {% if doc.has_specification() %}
                <a class="quick-link-btn" href="#Specifications">
                    <h4>Specifications</h4>
                </a>
            {% endif %}

            {% if doc.has_recommended_items("Related Item") %}
                <a class="quick-link-btn" href="#RelatedItems">
                    <h4>Related Items</h4>
                </a>
            {% endif %}
            {% if doc.has_recommended_items("Series/Collection") %}
                <a class="quick-link-btn" href="#SeriesCollection">
                    <h4>More from this Series</h4>
                </a>
            {% endif %}
            {% if doc.has_recommended_items("Required Extra") %}
                <a class="quick-link-btn" href="#RequiredExtras">
                    <h4>Required Extras</h4>
                </a>
            {% endif %}
            {% if doc.has_recommended_items("Optional Accessory") %}
                <a class="quick-link-btn" href="#OptionalAccessories">
                    <h4>Optional Accessories</h4>
                </a>
            {% endif %}
            {% if doc.has_recommended_items("Consumable") %}
                <a class="quick-link-btn" href="#Consumables">
                    <h4>Consumables</h4>
                </a>
            {% endif %}
            {% if doc.has_recommended_items("Download") %}
                <a class="quick-link-btn" href="#Downloads">
                    <h4>Downloads</h4>
                </a>
            {% endif %}

        </div>
    </div>
</section>
